on init
    setprop sys.usb.configfs 1
    setprop setprop persist.sys.isUsbOtgEnabled false
    
on fs && property:ro.debuggable=0
    # distinguish USB shoulde connect or not, i.e. CDP vs SDP
    write /sys/class/udc/13600000.dwc3/device/cmode 2
    # set charging free due to it wait for USB activation
    start adbd
    